<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202171125123-3djid9hjmh7nd9hn8neqap2k7vvgn6lo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202171125123-3djid9hjmh7nd9hn8neqap2k7vvgn6lo</string>
	<key>API_KEY</key>
	<string>AIzaSyBNmicVJevp1qDvVkTDEiYWRJSWcZdDxnI</string>
	<key>GCM_SENDER_ID</key>
	<string>202171125123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ulam4Tonyt</string>
	<key>PROJECT_ID</key>
	<string>ulam4tonyt</string>
	<key>STORAGE_BUCKET</key>
	<string>ulam4tonyt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202171125123:ios:80799549134f591128bab6</string>
</dict>
</plist>